[Unit]
Description=Query Server

[Service]
Type=simple
User=<USERNAME>
PIDFile=/run/query_server.pid
ExecStart=/home/<USERNAME>/engine/src/build/query/query_server
KillSignal=SIGINT
Nice=-20

[Install]
WantedBy=multi-user.target
